p { 
	text-align: center; 
}



#missao { f

	font-size: 20px 
}




body { 
	
}

h1 { 
	text-align: center 
}


em strong { 
	color: #FF0000;
}


#banner{ 
	width: 100%; 

}
.principal {
	background: #CCCCCC;
	padding: 30px;
}

.intens{
	font-style: italic
}

.beneficios { 
	background: #FFFFFF;
	padding: 20px;
}

.imagembene {
	width: 50%;
}

h2 {
	text-align: center;
}
ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}